<html>
  <head>
    <title>MapReduce</title>
    <script src="mapreduce/jquery.js" type="text/javascript"></script>
    <script src="static/js/custom.js" type="text/javascript"></script>
  </head>
  <body>
    <form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
          <table>
            <tr>
              <td>From your computer:</td>
              <td><input type='file' name='file' id='file' /></td>
            </tr>
            <tr>
              <td>Give it a name:</td>
              <td><input type='textfield' id="name" name='name' /></td>
            </tr>
            <tr>
              <td colspan=2 align="center"><input type='submit' name='submit' value='Upload'></td>
            </tr>
          </table>
      </form>
      <div style="width:100%; background-color:#FFFFFF">
      {% if length %}
      <table border=1>
        <tr>
          <td></td>
          <td>name</td>
          <td>uploaded on</td>
          <td>result</td>
        </tr>
        {% for item in items %}
        <tr>
          <td><input type="radio" onclick="updateForm('{{ item.key() }}',
            '{{ item.blobkey }}', '{{ item.filename }}');"></td>
          <td><a href="/blobstore/{{ item.blobkey }}">{{ item.filename }}</a></td>
          <td>{{ item.uploadedOn }}</td>
          <td>
            {% if item.indexline_link %}
            <a href="{{ item.indexline_link }}">index</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <div>No files uploaded yet!</div>
      {% endif %}
      <br />
      <br />
      <div>Data should be a zip.</div>
     
      <form action="/" method="post">
        Input File: <label id="jobName">none selected</label>
        <input type="hidden" name="filekey" id="filekey" value="">
        <input type="hidden" name="blobkey" id="blobkey" value="">
        <br />
        <br />
        <table>
          <tr>
            <td><input type="submit" id="index_line" name="index_line" value="Run" disabled="true"></td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
