* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	font-family: "helvetica", "arial";
	background-image: url("/static/images/texture.png");
}

h1 {
	color: #505050;
	margin: 10px 0;
}

h4 {
	font-size: 20px;
	background-color: #CC6666;
	color: white;
	border-radius: 2px 2px 0 0;
	padding: 8px 10px;
	cursor: pointer;
}

section {
	margin-bottom: 20px;

}

input[type="text"] {
	background: #FAFAFA;
	border: 1px solid #9B9B9B;
	color: #808080;
	border-radius: 2px;
	padding: 5px;
	font-size: 20px;
	width: 270px;
}

input[type="button"] {
	margin-top: 10px;
	-moz-box-shadow:inset 0px 1px 0px 0px #dbdbdb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dbdbdb;
	box-shadow:inset 0px 1px 0px 0px #dbdbdb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bfbdbf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #bfbdbf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bfbdbf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #756f75;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:37px;
	line-height:37px;
	width:277px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}

input[type="button"]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bfbdbf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #bfbdbf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfbdbf', endColorstr='#ededed');
	background-color:#bfbdbf;
}

input[type="button"]:active {
	position:relative;
	top:1px;
}

button {
	margin-top: 10px;
	margin-left: 10px;
	-moz-box-shadow:inset 0px 1px 0px 0px #dbdbdb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dbdbdb;
	box-shadow:inset 0px 1px 0px 0px #dbdbdb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bfbdbf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #bfbdbf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bfbdbf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #756f75;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:25px;
	/*line-height:37px;*/
	width:50px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	cursor: pointer;
}

.container {
	padding: 0 20px;
	margin: auto;
	}

.bordered-container {
	border: 1px solid #CC6666;
	border-radius: 0 0 2px 2px;
	background-color: #FAFAFA;
}

.bordered-container p {
	font-size: 100%;
	display: inline;
}

#footer-wrapper p {
	background-color: #DEDEDE;
	color: #88878A;
	clear: both;
	width: 100%;
	text-align: center;
	font-size: 10px;
	letter-spacing: 1px;
	padding: 10px 0;
	text-transform: uppercase;
	position: absolute;
	bottom: 0;
    left: 0px;
    background: #CCC;
    height: 15px;
}

#social_buttons {
	margin-bottom: 15px;
	margin-left: 40px;
}

#definition_text p {
	margin-bottom: 20px;
}

/*Smartphone*/
@media screen and (max-width: 957px) {
	input[type="text"] {
	}

	input[type="button"] {
		max-width: 80%;
	}

	.ui-widget input,
	.ui-widget select,
	.ui-widget textarea,
	.ui-widget button {
		max-width: 80%;
	}

	.bordered-container {
		max-height: 120px;
		overflow: auto;
	}

	h4 {
		font-size: 30px;
		padding: 10px 10px 10px 10px;
	}

	input[type="text"] {
		padding: 10px 5px;
		font-size: 20px;
	}

}

/*Desktop*/
@media screen and (min-width: 957px) {
	.column {
		float: left;
		margin-right: 2%;
		width: 48%;
	}
}

